video {
  width: 150px;
  /* Adjust as needed */
  height: 150px;
  /* Adjust as needed */
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  /* Ensure the video covers the container */
}